@page
@model StationeryAndSuppliesWebApp.Pages.Account.CheckoutModel
@{
    ViewData["Title"] = "Checkout"; 
}


<article class="checkout-page">
    <section class="checkout-page-section">
        <header class="checkout-title">Checkout</header>
        @if(Model.CurrnetUserDetails is null)
        {
            <div class="failed-to-load-user-details">Failed to load user Details, Please try again later</div>
        }
        else if (Model.OrderSummary is null)
        {
            <div class="user-cart-empty">Failed to load user order summary, Please try again later</div>
        }
        else
        {
            <div class="checkout-container">
                <div class="message">This is an example website please DO NOT give your real address</div>
                <div class="order-summary-and-payment-container">
                    <div class="order-summary">
                        <div class="summary-title">Order Summary</div>
                        <dvi class="total-items">@Model.OrderSummary.TotalItemsWithQuantity items</dvi>
                        <table class="summary-table">
                            <tbody>
                                @foreach(var item in Model.OrderSummary.Items)
                                {
                                    <tr>
                                        <td class="quantity-in-table">@item.Quantity</td>
                                        <td class="product-name-in-table">@item.Name</td>
                                        <td class="price-in-table">£@item.TotalPriceWithQunatity</td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="3"></td>
                                </tr>

                                <tr>
                                    <th colspan="2">Subtotal</th>
                                    <td>£@Model.OrderSummary.Subtotal</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Shipping</th>
                                    <td>£@Model.OrderSummary.ShippingCost</td>
                                </tr>

                                <tr>
                                    <td colspan="3"></td>
                                </tr>

                                <tr>
                                    <th colspan="2">Total</th>
                                    <td>£@Model.OrderSummary.TotalCost</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="payment-container">
                        <div class="payment-title">Payment</div>
                        <div class="user-name-title">Name</div>
                        <div class="user-name">@Model.CurrnetUserDetails.UserName</div>
                        <div class="user-email-title">Email</div>
                        <div class="user-email">@Model.CurrnetUserDetails.Email</div>
                        <form method="post" class="shipping-form">
                            <div class="form-group shipping-input">
                                <label asp-for="Input.ShippingAddress">Shipping Address</label>
                                <input asp-for="Input.ShippingAddress" type="text"/>
                            </div>
                            <div class="place-order-button-container">
                                <button type="submit" class="place-order-button black-button">Place Order</button>
                            </div>
                        </form>
                        @if(Model.ErrorMessage is not null)
                        {
                            <div class="error-message">@Model.ErrorMessage</div>
                        }
                    </div>
                </div>
            </div>
        }
    </section>
</article>


