@page
@model StationeryAndSuppliesWebApp.Pages.Account.OrdersModel
@{
    Layout = "_ProfileNavigationLayout";
    ViewData["Title"] = "Orders"; 
}



<section class="user-orders-section">
    <header class="order-detail-title">Most Recent Orders</header>
    @if(Model.ErrorMessage is not null)
    {
        <div class="error-message">@Model.ErrorMessage</div>
    }
    else if (Model.OrderDetailsList is not null && Model.OrderDetailsList.Count == 0)
    {
        <div class="no-orders-text">No Orders Found</div>
    }
    else
    {
        @foreach(var order in Model.OrderDetailsList!)
        {
            <div class="order-details-container">
                <div class="order-items">
                    <div class="title">Order Items</div>
                    <table class="order-items-table">
                        <thead>
                            <tr>
                                <th class="product-name-title">Name</th>
                                <th>Price</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(order.OrderItems.Count == 0)
                            {
                                <tr>
                                    <td colspan="3">Error while loading products</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var product in order.OrderItems)
                                {
                                    <tr>
                                        <td class="product-name">@product.ProductName</td>
                                        <td>£@product.TotalPriceByMultipyingQuntity</td>
                                        <td>@product.Quantity</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="product-name">Shipping Cost</td>
                                    <td>£@order.ShippingCost</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="order-summary-container">
                    <div class="order-date-status-container">
                        <div>
                            <div class="date-title">Order Date</div>
                            <div class="order-date-container">
                                <dvi class="order-date">@order.OrderDate.ToString("dd/MM/yyyy")</dvi>
                            </div>
                        </div>
                        <div>
                            <div class ="status-title">Status</div>
                            <div class="order-status-container">
                                <div class="order-status">@order.Status</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-total-container">
                        <div class="order-total">Total: £@order.TotalAmount</div>
                    </div>
                </div>
            </div>
        }
    }
</section>

