@page
@model IndexModel
@{
    ViewData["Title"] = "Stationery";
}

<article class="home-page">

    @if(Model.ChildCategoriesListInFirstSection.Count > 0)
    {
        <section class="first-categories-section">
            <div class="scroll-button-container">
                <button type="button" onclick="leftScroll()" class="scroll-button">
                    <img src="~/icons/left-arrow.svg" alt="left arrow" />
                </button>
            </div>
            <div id="categories-container" class="product-categories-container">
                @foreach (var category in Model.ChildCategoriesListInFirstSection)
                {
                    <div class="product-category">
                        @* Links to product list page *@
                        <a asp-page="/ProductsListPage" 
                            asp-route-parentCategory="@category.ParentCategoryName"
                            asp-route-childCategory="@category.CategoryName" 
                            class="category-link">
                            <img src="~/@category.ImageUrl" alt="@category.CategoryName image" />
                        </a>
                        <div class="category-name">@category.CategoryName</div>
                    </div>
                }
            </div>
            <div class="scroll-button-container">
                <button type="button" onclick="rightScroll()" class="scroll-button">
                    <img src="~/icons/right-arrow.svg" alt="right arrow" />
                </button>
            </div>
        </section>
    }

    @if(Model.ChildCategoriesListInSecondSection.Count > 0)
    {
        <section class="second-categories-section">
            <div class="section-container">
                <div class="product-categories-container">
                    @foreach (var category in Model.ChildCategoriesListInSecondSection)
                    {
                        <div class="product-category">
                            <div class="category-link-image">
                                @* Links to product list page *@
                                <a asp-page="/ProductsListPage"
                                   asp-route-parentCategory="@category.ParentCategoryName"
                                   asp-route-childCategory="@category.CategoryName" 
                                   class="category-link">
                                    <img src="~/@category.ImageUrl" alt="@category.CategoryName image" />
                                </a>
                            </div>
                            <div class="category-name">@category.CategoryName</div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if(Model.ProductsInThirdSection.Count > 0)
    {
        <section class="third-product-section">
            <div class="section-container">
                <div class="products-container">
                    @foreach (var product in Model.ProductsInThirdSection)
                    {
                        <div class="product">
                            <div class="product-link-and-image">
                                @* Links to product details page *@
                                <a asp-page="/Product"
                                   asp-route-productname="@product.Name.Replace(' ', '-')"
                                   asp-route-productid="@product.Id"
                                   class="product-link">
                                    <img src="~/@product.ImageUrl" alt="@product.Name image" />
                                </a>
                            </div>
                            <div class="product-details-container">
                                <div class="product-name-and-price">
                                    <div class="product-name">@product.Name</div>
                                    <div class="product-price">@(product.Price?.ToString("C"))</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

</article>
