@page "{productname?}/{productid:int}"
@model StationeryAndSuppliesWebApp.Pages.ProductModel

@{
    ViewData["Title"] = "Product";
}


<article class="single-product-page">
    <section class="section-container">
        @if(Model.Product is null)
        {
            @*Need to add styles for it*@
            <div class="missing-product">Sorry, The product you are looking for is unavailable at the moment.</div>
        }
        else
        {
            <div class="product-container">
                <div class="product-image-container">
                    @if (Model.Product.ImageUrl is null)
                    {
                        <img src="~/images/products/PlaceholderForMissingImages.svg" alt="placeholder image" />
                    }
                    else
                    {
                        <img src="~/@Model.Product.ImageUrl" alt="@Model.Product.Name Image" />
                    }
                </div>
                <div class="product-details-container">
                    <div class="product-details">
                        <div class="product-details-column">
                            <div class="product-name">@Model.Product.Name</div>
                            @if(Model.UserReviewsList is not null)
                            {
                                <div class="review-summary">
                                    <div class="review-average-score">Ratings: @Model.UserReviewsList.AverageScore/5</div>
                                    <div class="total-reviews">@Model.UserReviewsList.TotalReviews Reviews</div>
                                </div>
                            }
                            <div class="product-price-container">
                                Price: <span id="current-product-price" class="product-price">£@Model.Product.Price</span>
                                <span id="original-product-price" hidden>@Model.Product.Price</span>
                            </div>
                            <div>
                                @if (!Model.Product.InStock)
                                {
                                    <div class="out-of-stock">Out of Stock</div>
                                }
                            </div>
                            <div class="product-description">
                                <div class="title">About Product</div>
                                <div class="description">@Model.Product.Description</div>
                            </div>
                            @if (Model.Product.InStock)
                            {
                                <div class="drop-down">
                                    <div class="title">Quantity: </div>
                                    <select asp-items="Model.QuantityOptions"
                                            id="quantity-drop-down-options"
                                            asp-for="Input.Quantity"
                                            class="quantity-drop-down-select"
                                            form="add-to-bag-form">
                                    </select>
                                </div>
                                <div class="add-to-bag">
                                    <form method="post" id="add-to-bag-form">
                                        <input value="@Model.Product.Id" type="hidden" asp-for="Input.ProductID" />
                                        <button type="submit" class="black-button">Add to Bag</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.UserReviewsList is not null)
            {
                <div class="review-conainer">
                    <div class="review-child-container">
                        <header class="review-title">Reviews</header>
                        <ul class="review-list">
                            @foreach(var review in Model.UserReviewsList.UserReviews)
                            {
                                <li class="single-review-contaienr">
                                    @if (!string.IsNullOrEmpty(review.Comment))
                                    {
                                        <div class="user-comment">
                                            <p class="commnet">"@review.Comment"</p>
                                        </div>
                                    }
                                    <div class="rating-user-name-container">
                                        <div class="user-name">- @review.UserName</div>
                                        <div class="user-score">Ratings: @review.Rating</div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    </section>
</article>