@page
@model SearchModel
@{
    ViewData["Title"] = "Search Results";
}


<article class="search-result-page">
    <section class="search-result-section">
        @if(Model.SearchStringIsNull)
        {
            <div class="searched-for">No word provided to Search</div>
        }
        else if(!Model.SearchStringValidationResult)
        {
            <div class="searched-for">Please only use letters or numbers</div>
        }
        else if (Model.SearchResultList.Count == 0)
        {
            <div class="searched-for">Sorry, we can not find any results for "@Model.SearchedStringForView"</div>
        }
        else
        {
            <div class="searched-for">
                Search results for: "@Model.SearchedStringForView" 
            </div>
            <div class="search-products-continer">
                @foreach(var product in Model.SearchResultList)
                {
                    <div class="product-container">
                        <div class="product-link-container">
                            @* Link to single product details *@
                            <a asp-page="/Product"
                               asp-route-productid="@product.Id"
                               asp-route-productname="@product.Name.Replace(' ', '-')"
                               class="product-link">
                                @if (product.ImageUrl is null)
                                {
                                    <div class="image-container">
                                        <img src="~/images/products/PlaceholderForMissingImages.svg" alt="placeholder image" />
                                    </div>
                                }
                                else
                                {
                                    <div class="image-container">
                                        <img src="~/@product.ImageUrl" alt="@product.Name image" />
                                    </div>
                                }
                            </a>
                        </div>
                        <div class="product-details-container">
                            <div class="product-details">
                                <div class="product-name">@product.Name</div>
                                <div class="product-price">£@product.Price</div>
                            </div>
                            @if (!product.InStock)
                            {
                                <div class="out-of-stock">Out of Stock</div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </section>
</article>


